@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}

@layer components {
    .react-select-container {
        @apply relative w-full text-left bg-white border rounded-lg shadow-md focus:outline-none border-secondary;
    }

    .rstw__input {
        @apply relative w-full h-full px-4 py-2 text-left bg-transparent border-none outline-none cursor-default;
    }
}
